<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete page</title>
</head>
<body>
    <a href="\"> Get back to home</a><br><br>
    <form action="{{ url_for('deleterecord') }}" method = "POST">
        <label for="option">Select Table:</label>
    <select name="option" id="option">
        <option value="Audio">Audio</option>
        <option value="Podcast">Podcast</option>
        <option value="AudioBook">Audiobook</option>
    </select>
        <label for="ID">AudioFileID:</label>
        <input type="text" id="ID" name="ID"><br><br>
        <input type="submit" value="Submit">
      </form>

      <h1> {{ data1 }} </h1>
</body>
</html>